@charset "UTF-8";
@font-face {
  font-family: cairo_1;
  src: url(/fonts/Hacen-Samra_0.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cairo_1;
}

body {
  scroll-behavior: smooth;
  direction: rtl;
  font-family: cairo_1;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: auto;
  direction: ltr;
  height: 18vh;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 1.5rem;
}

.menu a {
  color: #333333;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.2s;
}

.menu a:hover {
  color: #e96163;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  position: relative;
  background-color: #333333;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 14%;
    left: 0;
    width: 95%;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: right;
    margin-left: 15px;
  }
  .menu li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .menu-toggle {
    display: block;
  }
  .menu-toggle span:nth-child(2) {
    width: 20px;
  }
  .menu-toggle span:nth-child(3) {
    width: 15px;
  }
  nav.open .menu {
    display: flex;
  }
}
.hero {
  width: 90%;
  min-height: 80vh;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to bottom right, #e96163, #f3b562);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  border-radius: 25px 25px 25px 250px;
}
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 30px;
  }
}
.hero .hero-text {
  width: 65%;
  min-height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hero .hero-text {
    width: 95%;
    padding: 20px;
    padding-top: 50px;
  }
}
.hero .hero-text p {
  font-size: 1.2rem;
}
.hero .hero-text .img_offer {
  width: 90%;
  height: 200px;
  margin: auto;
  background-image: url(/img/فن\ الكبسة\ copy.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero .hero-text button {
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  margin-left: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.hero .hero-img {
  width: 35%;
  height: 100%;
  padding-top: 80px;
  padding-right: 15px;
}
@media screen and (max-width: 768px) {
  .hero .hero-img {
    padding-top: 20px;
  }
}
.hero .hero-img .circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #ffffff;
}

.wow {
  margin-top: 20px;
  width: 90%;
  margin: auto;
  border-radius: 25px 25px 25px 25px;
}/*# sourceMappingURL=style.css.map */